*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #3d84b3;
    --secondary-color: #f18f01;
    --text-color: #172e45;
    --light-color: #c6cfd7;
    --white-color: #ffffff;
    --font-main: 'comic sans ms', sans-serif;

}
body{
    font-family:var(--font-main);
    color:var(--text-color);
    line-height: 1.6;
    background-color: var(--light-color);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: var(--primary-color);
}
.navbar{
    /*position: sticky;
    top: 100px;
    z-index: 1000;*/
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: var(--white-color);
}
.nav-link{
    list-style:none;
    display: flex;
    gap: 30px;    
    text-decoration: none;
    color: var(--white-color);
    font-size: 18px;
    transition: color 0.3s ease;
}
.nav-link a:hover{
    color: var(--secondary-color);
}
.hero-selection{
    background: linear-gradient(135deg,var(--primary-color),#f18f01);
    color: var(--white-color);
    text-align: center;
}
.hero-selection h1{
    font-size: 48px;
    margin-bottom: 20px;
}